* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    html
    {
    line-height: 1.5;
    font-family: "Josefin Sans";
    
    }
    
    body
    {
        padding: 2rem 2.5rem;
       /* background-color: grey;*/
        background-image: linear-gradient(grey, silver);
    }
    
    
    h1
    {
        font-size: 2rem;
        text-transform: uppercase;
    }
    
    h2
    {
        font-size: 1.1rem;
        text-transform: uppercase;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 0.5rem 0;
        margin-bottom: 2rem;
    }
    
    h3
    {
        font-size: 1rem;
        text-transform: uppercase;
        color: salmon;
    }
     p
     {
         line-height: 1.5;
     }
    
     section + section
     {
        margin-top: 2rem;
     }
    
    
     .Profile img
     {
        border-radius: 50%;
        width: 10rem;
        height: 11rem;
        border: 10px solid grey;
     }
    ul
    {
        list-style: none;
    }
    
     .Contact li
     {
    text-align: right;
    padding: 1rem;
    border-bottom: 1px solid grey;
    color: grey;
    
     }
    
    .Contact ul
    {
    margin-top: -2rem;
    
    }
    
    
    .Skills > ul 
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    
    
    
    .Event
    {
        display: grid;
        grid-template-columns: 5ch 1fr;
    }
    
    .Content
    {
        border-left: 1px solid grey;
        padding-left: 2rem;
        margin-left: 1rem;
    }
    
    .TimeLine .Event + .Event
    {
        padding-top: 1rem ;
    }
    
    .Content > h3 + p
    {
        margin-bottom: 1rem;
        color: grey;
    }
    
    .Resume_Page
    {
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-gap: 4rem;
        background-color: white;
        padding: 3rem;
       
    }

    .Icons>img
    {
       
        width: 30px;
        height: 35px;
        float: left;
    }
    .Social li
    {
        text-align: right;
        border-bottom: 1px solid grey;
        margin-top: -0.1rem;
        padding: 1rem;
    }
    .Social ul
    {
        margin-top: -2rem;
    }

    .Profile
    {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .Education ul
    {
        list-style-type: disc;
    }
    .Experience ul
    {
        list-style-type: disc;
    }